h1{
  font-family: 'Bungee Inline', cursive;
}
h3{
  font-family: 'Coming Soon', cursive;
  font-size: 42px;
}
.error {
  color: red;
}
.navbar-collapse {
  padding-left: 0;
}
.post{
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 10px;
}
.post-content textarea, .post-comments textarea{
  width: 100%;
}
.unclickable{
  cursor: default;
}
.comment-user{
  height: 45px;
  width: 45px;
  padding-top: 15px;
}

.comment-content{
  width: 100%;
}